{% extends 'base.html.twig' %}

			
{% block body %}
    {% block menu %}
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          {# Brand and toggle get grouped for better mobile display #}
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Awesome!</a>
          </div>

          {# Collect the nav links, forms, and other content for toggling #}
          <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">  
{{ knp_menu_render('AppBundle:Builder:mainMenu') }}

          </div>
	</div>
</div>
{% endblock %}

 {% block content %}{% endblock %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<style>
body { padding-top: 70px; }
</style>
{% endblock %}
{% block javascripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}   