{% extends 'default/index.html.twig' %}
{% block content %}

    <h2>Contact us</h2>
    <div class="col-lg-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}</div>
{% endblock %}